/**
 * Responsive Video CSS
 *
 * http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
 * ----------------------------------------------------------------------------
 */
video {
	width: 100%    !important;
	height: auto   !important;
}
.wc-responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 - default */
	padding-top: 25px;
	height: 0;
}
.wc-responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wc-responsive-video.wc-rv-ratio-16-9 {
	padding-bottom: 56.25%; /* 16:9 */
}
.wc-responsive-video.wc-rv-ratio-4-3 {
	padding-bottom: 75%; /* 4:3 */
}
.wc-responsive-video.wc-rv-ratio-3-2 {
	padding-bottom: 66.6667%; /* 3:2 */
}
